/* Твій існуючий CSS код без змін */
h1 {
    text-align: center;
}

form {
    background-color: #222; /* Темніший фон для форми */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

.input-container {
    text-align: center;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    color: white;
}

.question-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.question {
    margin-bottom: 15px;
    font-weight: bold;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #124ed0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0f3f9c;
}

.answer-option {
    display: block;
    margin: 10px 0;
    color: white;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #124ed0;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #124ed0;
}

/* Стилі для модального вікна */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none;
}
